<li>
  <%= render partial: 'events/event', locals: { event: event } %>
  <!-- Admin controls -->
  <% if @member.role >= 5 %>
    <div class="admin-controls mt-2 space-x-2">
      <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
      <%= button_to 'Delete', event_path(event), method: :delete,
                   form: { data: { turbo_confirm: 'Are you sure?' } }, 
                   class: "btn btn-danger" %>
      <%= link_to 'Export Non-Attendees', 
                  event_non_attendees_path(event_id: event.id, format: :csv),
                  class: 'btn btn-secondary',
                  data: { turbo: false } %>
    </div>
  <% end %>
</li>