<% if current_member.role >= 5 %>
  <h1 class="text-xl font-bold">All Transactions</h1>
<% elsif current_member.role >= 1 %>
  <h1 class="text-xl font-bold">My Transactions</h1>
<% end %>

<div class="gap-4">
  <% if current_member.role >= 5 %>
    <% @transactions.each do |transaction| %>
      <%= render partial: 'transactions/transaction', locals: { transaction: transaction } %>
    <% end %>
  <% else %>
    <% @transactions.where(request_member_id: current_member.id).each do |transaction| %>
      <%= render partial: 'transactions/transaction', locals: { transaction: transaction } %>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Transaction', new_transaction_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4' %>